@using EnglishChallengesWebApp.Pages.LevelPages.LevelDisplays
@using EnglishChallengesWebApp.Resources.Model

@page "/Playing/{LevelNumber:int}/{LevelType}/{QuestionSetId:int}"

<h3>Level @LevelNumber @LevelType</h3>

<body>
    @{
        var parameters = new
        {
            LevelNumber = LevelNumber,
            LevelType = LevelType,
            QuestionSetId = QuestionSetId,
        };
        var attributes = parameters.GetType().GetProperties()
        .Select(p => new KeyValuePair<string, object>(p.Name, p.GetValue(parameters, null)))
        .ToArray();

        switch (LevelType)
        {
            case "multiplechoice":
                <LevelDisplayMC @attributes=attributes />
                break;
            case "yesno":
                <LevelDisplayYN @attributes=attributes />
                break;
            case "plural":
                break;
            case "where":
                break;
            default:
                break;
        }
    }
</body>

@code {
    [Parameter]
    public int LevelNumber { get; set; }
    [ParameterAttribute]
    public string LevelType { get; set; } = string.Empty;
    [Parameter]
    public int QuestionSetId { get; set; }
}