@page "/editor/{levelNumber:int}/{*levelType}"

@attribute [Authorize]

<h3>Editor for @levelNumber @levelType</h3>

@code {
    [Parameter]
    public int levelNumber { get; set; }
    [ParameterAttribute]
    public string levelType { get; set; }
}
