.image-container {
    position: relative;
    display: inline-block; /* Necessary to prevent container to take full width */
    width: 100px;
    height: 100px;
    margin: 0px;
    object-fit: cover;
}

.img-btn {
    height: 100%;
    width: 100%;
    border: none;
    display: block;
    padding: 0;
}

.gallery-image {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}

.select-btn {
    position: absolute;
    top: 5px;
    right: 5px;
}

.image-details-btn {
    background-color: transparent;
}

.img-details {
    display: flex;
    flex-direction: column;
}
