@page "/"

<head>
    <meta name="google-site-verification" content="-almEhEzB82uQCxmQjKJ_2f8LGGvJ8967ken28xWc_I" />
</head>

<PageTitle>Index</PageTitle>

<h1>English Challenges Web App v0.0.2b </h1>

Welcome.

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
